.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
libs/include/SDL2/begin_code.h
libs/include/SDL2/close_code.h
libs/include/SDL2/SDL_assert.h
libs/include/SDL2/SDL_atomic.h
libs/include/SDL2/SDL_audio.h
libs/include/SDL2/SDL_bits.h
libs/include/SDL2/SDL_blendmode.h
libs/include/SDL2/SDL_clipboard.h
libs/include/SDL2/SDL_config.h
libs/include/SDL2/SDL_cpuinfo.h
libs/include/SDL2/SDL_egl.h
libs/include/SDL2/SDL_endian.h
libs/include/SDL2/SDL_error.h
libs/include/SDL2/SDL_events.h
libs/include/SDL2/SDL_filesystem.h
libs/include/SDL2/SDL_gamecontroller.h
libs/include/SDL2/SDL_gesture.h
libs/include/SDL2/SDL_guid.h
libs/include/SDL2/SDL_haptic.h
libs/include/SDL2/SDL_hidapi.h
libs/include/SDL2/SDL_hints.h
libs/include/SDL2/SDL_joystick.h
libs/include/SDL2/SDL_keyboard.h
libs/include/SDL2/SDL_keycode.h
libs/include/SDL2/SDL_loadso.h
libs/include/SDL2/SDL_locale.h
libs/include/SDL2/SDL_log.h
libs/include/SDL2/SDL_main.h
libs/include/SDL2/SDL_messagebox.h
libs/include/SDL2/SDL_metal.h
libs/include/SDL2/SDL_misc.h
libs/include/SDL2/SDL_mouse.h
libs/include/SDL2/SDL_mutex.h
libs/include/SDL2/SDL_name.h
libs/include/SDL2/SDL_opengl_glext.h
libs/include/SDL2/SDL_opengl.h
libs/include/SDL2/SDL_opengles.h
libs/include/SDL2/SDL_opengles2_gl2.h
libs/include/SDL2/SDL_opengles2_gl2ext.h
libs/include/SDL2/SDL_opengles2_gl2platform.h
libs/include/SDL2/SDL_opengles2_khrplatform.h
libs/include/SDL2/SDL_opengles2.h
libs/include/SDL2/SDL_pixels.h
libs/include/SDL2/SDL_platform.h
libs/include/SDL2/SDL_power.h
libs/include/SDL2/SDL_quit.h
libs/include/SDL2/SDL_rect.h
libs/include/SDL2/SDL_render.h
libs/include/SDL2/SDL_revision.h
libs/include/SDL2/SDL_rwops.h
libs/include/SDL2/SDL_scancode.h
libs/include/SDL2/SDL_sensor.h
libs/include/SDL2/SDL_shape.h
libs/include/SDL2/SDL_stdinc.h
libs/include/SDL2/SDL_surface.h
libs/include/SDL2/SDL_system.h
libs/include/SDL2/SDL_syswm.h
libs/include/SDL2/SDL_test_assert.h
libs/include/SDL2/SDL_test_common.h
libs/include/SDL2/SDL_test_compare.h
libs/include/SDL2/SDL_test_crc32.h
libs/include/SDL2/SDL_test_font.h
libs/include/SDL2/SDL_test_fuzzer.h
libs/include/SDL2/SDL_test_harness.h
libs/include/SDL2/SDL_test_images.h
libs/include/SDL2/SDL_test_log.h
libs/include/SDL2/SDL_test_md5.h
libs/include/SDL2/SDL_test_memory.h
libs/include/SDL2/SDL_test_random.h
libs/include/SDL2/SDL_test.h
libs/include/SDL2/SDL_thread.h
libs/include/SDL2/SDL_timer.h
libs/include/SDL2/SDL_touch.h
libs/include/SDL2/SDL_types.h
libs/include/SDL2/SDL_version.h
libs/include/SDL2/SDL_video.h
libs/include/SDL2/SDL_vulkan.h
libs/include/SDL2/SDL.h
libs/lib/libSDL2_test.a
libs/lib/libSDL2_test.la
libs/lib/libSDL2.a
libs/lib/libSDL2.dll.a
libs/lib/libSDL2.la
libs/lib/libSDL2main.a
libs/lib/libSDL2main.la
libs/lib/cmake/SDL2/sdl2-config-version.cmake
libs/lib/cmake/SDL2/sdl2-config.cmake
libs/lib/pkgconfig/sdl2.pc
build/build.exe
build/SDL2_ttf.dll
deps/SDL2/libSDL2_test.a
deps/SDL2/libSDL2_test.la
deps/SDL2/libSDL2.a
deps/SDL2/libSDL2.dll.a
deps/SDL2/libSDL2.la
deps/SDL2/libSDL2main.a
deps/SDL2/libSDL2main.la
deps/SDL2/cmake/SDL2/sdl2-config-version.cmake
deps/SDL2/cmake/SDL2/sdl2-config.cmake
deps/SDL2/pkgconfig/sdl2.pc
deps/SDL_ttf/libSDL2_ttf.a
deps/SDL_ttf/libSDL2_ttf.dll.a
deps/SDL_ttf/libSDL2_ttf.la
deps/SDL_ttf/cmake/SDL2_ttf/sdl2_ttf-config-version.cmake
deps/SDL_ttf/cmake/SDL2_ttf/sdl2_ttf-config.cmake
deps/SDL_ttf/pkgconfig/SDL2_ttf.pc
deps/include/SDL2/begin_code.h
deps/include/SDL2/close_code.h
deps/include/SDL2/SDL_assert.h
deps/include/SDL2/SDL_atomic.h
deps/include/SDL2/SDL_audio.h
deps/include/SDL2/SDL_bits.h
deps/include/SDL2/SDL_blendmode.h
deps/include/SDL2/SDL_clipboard.h
deps/include/SDL2/SDL_config.h
deps/include/SDL2/SDL_cpuinfo.h
deps/include/SDL2/SDL_egl.h
deps/include/SDL2/SDL_endian.h
deps/include/SDL2/SDL_error.h
deps/include/SDL2/SDL_events.h
deps/include/SDL2/SDL_filesystem.h
deps/include/SDL2/SDL_gamecontroller.h
deps/include/SDL2/SDL_gesture.h
deps/include/SDL2/SDL_guid.h
deps/include/SDL2/SDL_haptic.h
deps/include/SDL2/SDL_hidapi.h
deps/include/SDL2/SDL_hints.h
deps/include/SDL2/SDL_joystick.h
deps/include/SDL2/SDL_keyboard.h
deps/include/SDL2/SDL_keycode.h
deps/include/SDL2/SDL_loadso.h
deps/include/SDL2/SDL_locale.h
deps/include/SDL2/SDL_log.h
deps/include/SDL2/SDL_main.h
deps/include/SDL2/SDL_messagebox.h
deps/include/SDL2/SDL_metal.h
deps/include/SDL2/SDL_misc.h
deps/include/SDL2/SDL_mouse.h
deps/include/SDL2/SDL_mutex.h
deps/include/SDL2/SDL_name.h
deps/include/SDL2/SDL_opengl_glext.h
deps/include/SDL2/SDL_opengl.h
deps/include/SDL2/SDL_opengles.h
deps/include/SDL2/SDL_opengles2_gl2.h
deps/include/SDL2/SDL_opengles2_gl2ext.h
deps/include/SDL2/SDL_opengles2_gl2platform.h
deps/include/SDL2/SDL_opengles2_khrplatform.h
deps/include/SDL2/SDL_opengles2.h
deps/include/SDL2/SDL_pixels.h
deps/include/SDL2/SDL_platform.h
deps/include/SDL2/SDL_power.h
deps/include/SDL2/SDL_quit.h
deps/include/SDL2/SDL_rect.h
deps/include/SDL2/SDL_render.h
deps/include/SDL2/SDL_revision.h
deps/include/SDL2/SDL_rwops.h
deps/include/SDL2/SDL_scancode.h
deps/include/SDL2/SDL_sensor.h
deps/include/SDL2/SDL_shape.h
deps/include/SDL2/SDL_stdinc.h
deps/include/SDL2/SDL_surface.h
deps/include/SDL2/SDL_system.h
deps/include/SDL2/SDL_syswm.h
deps/include/SDL2/SDL_test_assert.h
deps/include/SDL2/SDL_test_common.h
deps/include/SDL2/SDL_test_compare.h
deps/include/SDL2/SDL_test_crc32.h
deps/include/SDL2/SDL_test_font.h
deps/include/SDL2/SDL_test_fuzzer.h
deps/include/SDL2/SDL_test_harness.h
deps/include/SDL2/SDL_test_images.h
deps/include/SDL2/SDL_test_log.h
deps/include/SDL2/SDL_test_md5.h
deps/include/SDL2/SDL_test_memory.h
deps/include/SDL2/SDL_test_random.h
deps/include/SDL2/SDL_test.h
deps/include/SDL2/SDL_thread.h
deps/include/SDL2/SDL_timer.h
deps/include/SDL2/SDL_touch.h
deps/include/SDL2/SDL_ttf.h
deps/include/SDL2/SDL_types.h
deps/include/SDL2/SDL_version.h
deps/include/SDL2/SDL_video.h
deps/include/SDL2/SDL_vulkan.h
deps/include/SDL2/SDL.h
.gitignore
